* {
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Courier New', Courier, monospace;
}

.background {
    background-color: #748dbb;
    height: 100vh;
    padding-top: 1px;
}

h1 {
    color: #eeba7f;
    text-align: center;
    font-size: 55px;
    font-family: 'Itim', cursive;
    margin-top: 15%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.ascunde {
    display: none;
}

.container {
    width:310px;
    max-width: 310px;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    

}

section.afiseaza.anunta{
    margin:auto;
 
    width:12%;
    font-family:cursive,Georgia, 'Times New Roman', Times, serif;
    color: rgb(134, 17, 17);
}

.box {
    border: 2px solid rgb(248, 234, 234);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #00defc;
}

.playerO {
    color: #fde402;
}

.control{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}

.control button {
    color: rgb(39, 99, 148);
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin-left: 1em;
    cursor: pointer;
}



#restart {
    background-color: #eeba7f;
}